<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>batchPhoneBlock.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>batcher.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>47A0A2731F61433D0063F30C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C1596B1F6141DB00E11E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C159871F6141DB00E11E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>47C159921F6141DB00E11E02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
